// credit: https://github.com/not-matthias/apollo/blob/649e3e8f21667efe4dc41e5d539745418b831e95/sass/theme/dark.scss
:root {
  --text-0: rgba(255, 255, 255, 87%);
  --text-1: rgba(255, 255, 255, 60%);

  --bg-0: #181818;
  --bg-1: rgba(255, 255, 255, 5%);
  --bg-2: rgba(23, 23, 23, 100%);

  --primary-color: #CF9FFF;
  --hover-color: white;
}