// credit: https://github.com/not-matthias/apollo/blob/649e3e8f21667efe4dc41e5d539745418b831e95/sass/theme/light.scss
:root {
  --text-0: rgba(0, 0, 0, 87%);
  --text-1: rgba(0, 0, 0, 66%);
  --bg-0: #f5f5f5;
  --bg-1: #f2f2f2;
  --bg-2: #fefefe;
  --primary-color: #5a2095;
  --hover-color: white;
}
