/*
Color scheme:
light blue: #DFFDFF
mid blue navbar: #90BEDE
grey: #E0E2DB
darker blue: #2274A5
even darker: #143D57
lavendar-ish: #5C80BC

 */

.container
{
    padding-top: 3%;
    padding-bottom: 3%;
}


.intro
{
    padding-top: 5%;
    padding-bottom: 5%;
}

body
{
    /* background-color: #E0E2DB; */
    /* color: #5C80BC; */
    background-color: white;
    color: black;
    font-family: 'Playfair Display', serif;
}


#main-text p
{
    font-size: 12pt;
    line-height: 200%;
}

#images p
{
    font-size: 14pt;
}

#picture
{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
    background-color: #E0E2DB;
}

.card
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5C80BC;
}

.card-title
{
    font-size: 20px;
    margin-top: auto;
}

.card img
{
    max-height: 200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}


/* COLOR STUFF */

/* search results */
a, select.form-control, td
{
    color: #2274A5;
}

th, table th.text-center
{
    color: #2274A5;
}

#search-results th
{
    background: #90BEDE;
}


.vert
{
    max-width: 700px;
}

.horiz
{
    max-width: 1500px;
}

.square
{
    max-width: 700px;
}

.image-caption
{
    padding-top: 250px;
    padding-bottom: 250px;
}
#images
{
    padding-left: 10%;
    padding-right: 10%;
}
